# Java-related ignores
*.class
*.jar
*.war
*.ear

# IDE and build tool files
/.idea/
*.iml
*.log
/.classpath
/.project
/.settings/
target/
out/
build/

# OS and misc files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Package files
dist/

# Backup files
*~
